.header-wrapper {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;

    .header-container {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-icons {
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}